.notification {
    width: 80%;
    font-size: 30px;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    border-width: thick;
}

.msg-info {
    background-color: #80aaed;
    color: #062557;
    border-color: #062557;
}

.msg-success {
    background-color: #affab4;
    color:#0c420f;
}

.msg-failure {
    background-color: #fac8c5;
    color: #4a0703;
}